<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}タイトル{% endblock %}</title>
    {% block extra_head %}{% endblock %}
</head>
<body>

<header>
    <nav>
        <a href="{% url 'blog_list' %}">ホーム</a>
        <a href="{% url 'report_list' %}">日報一覧</a>
        <a href="{% url 'user_list' %}">ユーザー一覧</a>
        <a href="{% url 'meeting_list' %}">ミーティング一覧</a>



        {% if request.user.userprofile.avatar %}
        <a href="{% url 'user_detail' request.user.id %}"><img src="{{ request.user.userprofile.avatar.url}}" alt="{{ request.username }}" width="50"></a>
        {% else %}
        <a href="{% url 'user_detail' request.user.id %}">{{ request.user.userprofile.nickname|default:request.user.username }}</a>

        {% endif %}








        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">ログアウト</a>
        {% endif %}
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>© 2023 kei-kmj</p>
</footer>

{% block extra_js %}{% endblock %}

</body>
</html>
